.ring {
  width: 30px;
  height: 450px;
  border-width: 4px;
  border-radius: 50%;
  position: absolute;
  left: 25%;
}
.ball {
  width: 60px;
  height: 60px;
  background-color: rgb(97, 97, 211);
  border-radius: 50%;
  position: relative;
  animation: moveBackAndForth 3s ease-in-out infinite;
}

@keyframes moveBackAndForth {
  0%,
  100% {
    left: 10px;
  }
  50% {
    left: calc(100% - 80px);
  }
}

.ball1 {
  width: 100px;
  height: 100px;
  background-color: #dbbc34;
  border-radius: 50%;
  position: relative;
  animation: moveBackAndForth1 5s ease-in-out infinite;
}

@keyframes moveBackAndForth1 {
  0%,
  100% {
    left: 5px;
  }
  50% {
    left: calc(100% - 100px);
  }
}

.ball2 {
  width: 80px;
  height: 80px;
  background-color: #82db34;
  border-radius: 50%;
  position: relative;
  animation: moveBackAndForth2 3s ease-in-out infinite;
}

@keyframes moveBackAndForth2 {
  0%,
  100% {
    left: 30px;
  }
  50% {
    left: calc(100% - 160px);
  }
}

.ball3 {
  width: 50px;
  height: 50px;
  background-color: #d334db;
  border-radius: 50%;
  position: relative;
  animation: moveBackAndForth3 4s ease-in-out infinite;
}

@keyframes moveBackAndForth3 {
  0%,
  100% {
    left: 25px;
  }
  50% {
    left: calc(100% - 100px);
  }
}

.ball4 {
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  animation: moveDownAndRestart 5s ease-in-out infinite;
}

@keyframes moveDownAndRestart {
  0%,
  100% {
    top: 0;
    left: 0px;
  }
  50% {
    left: 100px;
    top: calc(100% - 150px);
  }
}

.ball5 {
  width: 80px;
  height: 80px;
  background-color: #e9f77b;
  border-radius: 50%;
  position: relative;
  animation: moveDownAndRestart 4s ease-in-out infinite;
}

@keyframes moveDownAndRestart {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: calc(100% - 200px);
  }
}

.ball6 {
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  animation: moveDownAndRestart 5s ease-in-out infinite;
}

@keyframes moveDownAndRestart {
  0%,
  100% {
    top: 0px;
  }
  50% {
    top: calc(100% - 250px);
  }
}

.container {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 auto;
  perspective: 1000px;
}

.center-ball {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(+50%, +50%);
  animation: rotateCenter 6s linear infinite;
}

.orbit-ball {
  width: 40px;
  height: 40px;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
}

.orbit-ball:nth-child(1) {
  animation: rotateOrbit 4s linear infinite;
  transform: translate(-20%, -150%) rotate(0deg) translate(50%, 100%);
}

.orbit-ball:nth-child(2) {
  animation: rotateOrbit 6s linear infinite;
  transform: translate(-50%, -200%) rotate(60deg) translate(50%, 100%);
}

.orbit-ball:nth-child(3) {
  animation: rotateOrbit 8s linear infinite;
  transform: translate(-50%, -100%) rotate(120deg) translate(50%, 100%);
}

.orbit-ball:nth-child(4) {
  animation: rotateOrbit 10s linear infinite;
  transform: translate(-50%, -100%) rotate(180deg) translate(50%, 100%);
}

.orbit-ball:nth-child(5) {
  animation: rotateOrbit 12s linear infinite;
  transform: translate(-50%, -100%) rotate(240deg) translate(50%, 100%);
}

@keyframes rotateCenter {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotateOrbit {
  0% {
    transform: translate(-50%, -100%) rotate(0deg) translate(50%, 100%);
  }
  100% {
    transform: translate(-50%, -100%) rotate(360deg) translate(50%, 100%);
  }
}
